@import "tailwindcss";

.card {
  border: 2px solid blue;
}
.card .img img {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  display: block;
}
@media (max-width: 768px) {
  .card .img {
    display: none;
  }
}

.cardbottom {
  text-align: center;
}
.card:hover {
  transform: translateY(-5px);
}

