.btn{
    padding: 10px 20px;
    border: 1 solid black;
    color: white;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    min-width: 120px;
    margin: 15px;
}
.btn:hover{
    box-shadow: 2px 2px 8px
}